In [2]:
import pandas as pd

In [3]:
#series as dictionary
obj_series=pd.Series([1,2,3,4],index=['a','b','c','d'])
obj_series

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
#indexing key
obj_series.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
#indexing value
obj_series.values

array([1, 2, 3, 4], dtype=int64)

In [6]:
#checking existing keys
'b' in obj_series

True

In [7]:
#series as array

In [8]:
#slicing explicit index
obj_series['a':'c']

a    1
b    2
c    3
dtype: int64

In [9]:
#slicing implicit index
obj_series[:3]

a    1
b    2
c    3
dtype: int64

In [10]:
#indexing menggunakan .loc dan .iloc indexing:
#indexing berdasarkan posisi objek series
#.loc indexing
obj_series.loc['a':'c']

a    1
b    2
c    3
dtype: int64

In [11]:
#iloc indexing
obj_series.iloc[:3]

a    1
b    2
c    3
dtype: int64

In [12]:
#filtering objek series
obj_series[obj_series>2]

c    3
d    4
dtype: int64

In [13]:
obj_series[['c','d']]

c    3
d    4
dtype: int64

In [14]:
#indexing dataframe
#ada banyak cara indexing dataframe

In [15]:
#dataframe[]
df_class=pd.read_csv('rakamin_class.csv')
df_class.head()

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
1,RK20202345,Dyah,dyah@gmail.com,628306496,24,Bogor,Jawa Barat,0,2,66
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
4,RK20202348,Eva,eva@rakamin.com,628702735,42,Malang,Jawa Timur,0,5,80

In [17]:
#indexing as series
df_class['name']

'RK20202352'

In [18]:
df_class['name']['RK20202344']

KeyError: 'RK20202344'

In [22]:
#indexing as dataframe
df_class[['name']].head()

     name
0    Nina
1    Dyah
2   Prima
3  Firman
4     Eva

In [23]:
#dataframe.kolom
#indexing using attribute
df_class.name

0       Nina
1       Dyah
2      Prima
3     Firman
4        Eva
       ...
95     Abdul
96       Ria
97     Putra
98     Kokom
99     Ilham
Name: name, Length: 100, dtype: object

In [24]:
#dataframe.loc[]
#indexing using .loc
df_class.loc[:,['city','province']].head()

                              city        province
0                    Tanjungpinang  Kepulauan Riau
1                            Bogor      Jawa Barat
2  Kota Administrasi Jakarta Pusat         Jakarta
3                            Metro         Lampung
4                           Malang      Jawa Timur

In [25]:
#dataframe.iloc[]
df_class.iloc[:,[5,6]].head()

                              city        province
0                    Tanjungpinang  Kepulauan Riau
1                            Bogor      Jawa Barat
2  Kota Administrasi Jakarta Pusat         Jakarta
3                            Metro         Lampung
4                           Malang      Jawa Timur

In [26]:
#FILTERING DATAFRAME DENGAN BOOLEAN
#filtering dataframe dimulai dari pertanyaan
df_class.head()

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
1,RK20202345,Dyah,dyah@gmail.com,628306496,24,Bogor,Jawa Barat,0,2,66
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
4,RK20202348,Eva,eva@rakamin.com,628702735,42,Malang,Jawa Timur,0,5,80

In [27]:
#contoh kasus 
#diambil yang aktif
aktif=df_class.active==1
print(aktif)

0      True
1     False
2      True
3      True
4     False
      ...
95    False
96    False
97     True
98    False
99     True
Name: active, Length: 100, dtype: bool

In [29]:
df_class[aktif]

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
5,RK20202349,Bagus,bagus@hotmail.com,628816223,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,84
6,RK20202350,Citra,citra@hotmail.com,628965407,36,Surakarta,Jawa Tengah,1,4,69
...,...,...,...,...,...,...,...,...,...,...
83,RK20202427,Rina,rina@gmail.com,628516075,54,Samarinda,Kalimantan Timur,1,6,84
86,RK20202430,Saputra,saputra@google.com,628420164,37,Tegal,Jawa Tengah,1,4,67
89,RK20202433,Tuti,tuti@google.com,628263541,46,Surabaya,Jawa Timur,1,5,51
97,RK20202441,Putra,putra@gmail.com,628205046,51,Palangkaraya,Kalimantan Tengah,1,6,71
99,RK20202443,Ilham,ilham@gmail.com,628680755,29,Tasikmalaya,Jawa Barat,1,2,52

In [30]:
#jika siswa yang aktif berasal dari provinsi jakarta
#boolean series siswa yang aktif
aktif=df_class.active==1
#boolean series asal
asal=df_class.province=='Jakarta'
print(asal)

0     False
1     False
2      True
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: province, Length: 100, dtype: bool

In [32]:
df_class[asal]

,registration_id,name,email,phone,age,city,province,active,class,score
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
5,RK20202349,Bagus,bagus@hotmail.com,628816223,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,84
7,RK20202351,Yuni,yuni@google.com,628714465,16,Kota Administrasi Jakarta Pusat,Jakarta,0,1,87
9,RK20202353,Nurul,nurul@gmail.com,628687911,17,Kota Administrasi Jakarta Selatan,Jakarta,0,1,79
15,RK20202359,Dadan,dadan@facebook.com,628952082,19,Kota Administrasi Jakarta Utara,Jakarta,1,1,63
16,RK20202360,Diana,diana@ymail.com,628161800,18,Kota Administrasi Jakarta Timur,Jakarta,0,1,87
31,RK20202375,Ratih,ratih@gmail.com,628336072,19,Kota Administrasi Jakarta Utara,Jakarta,0,1,81
40,RK20202384,Raden,raden@rakamin.com,628869259,17,Kota Administrasi Jakarta Selatan,Jakarta,1,1,87
46,RK20202390,Wulan,wulan@rocketmail.com,628361563,19,Kota Administrasi Jakarta Utara,Jakarta,1,1,73
67,RK20202411,Hidayat,hidayat@hotmail.com,628493696,17,Kota Administrasi Jakarta Selatan,Jakarta,0,1,100
82,RK20202426,Een,een@facebook.com,628018377,15,Kota Administrasi Jakarta Barat,Jakarta,1,1,74
92,RK20202436,Munaroh,munaroh@hotmail.com,628636716,15,Kota Administrasi Jakarta Barat,Jakarta,0,1,91

In [36]:
df_class[(aktif) & (asal)]

,registration_id,name,email,phone,age,city,province,active,class,score
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
5,RK20202349,Bagus,bagus@hotmail.com,628816223,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,84
15,RK20202359,Dadan,dadan@facebook.com,628952082,19,Kota Administrasi Jakarta Utara,Jakarta,1,1,63
40,RK20202384,Raden,raden@rakamin.com,628869259,17,Kota Administrasi Jakarta Selatan,Jakarta,1,1,87
46,RK20202390,Wulan,wulan@rocketmail.com,628361563,19,Kota Administrasi Jakarta Utara,Jakarta,1,1,73
82,RK20202426,Een,een@facebook.com,628018377,15,Kota Administrasi Jakarta Barat,Jakarta,1,1,74

In [39]:
#jika siswa tidak aktif yang berasal dari lampung dan berumur lebih dari 30 tahun
#dan kurang dari 20
#siswa yang tidak aktif
tdk_aktif=df_class.active==0
#asal dari lampung
asal=df_class.province=='Jakarta'
#berumur lebih dari 30 tahun
umur30=df_class.age>30
#berumur kurang dari 20 tahun
umur20=df_class.age<20
df_class[(tdk_aktif)&(asal)&(umur30|umur20)]

,registration_id,name,email,phone,age,city,province,active,class,score
7,RK20202351,Yuni,yuni@google.com,628714465,16,Kota Administrasi Jakarta Pusat,Jakarta,0,1,87
9,RK20202353,Nurul,nurul@gmail.com,628687911,17,Kota Administrasi Jakarta Selatan,Jakarta,0,1,79
16,RK20202360,Diana,diana@ymail.com,628161800,18,Kota Administrasi Jakarta Timur,Jakarta,0,1,87
31,RK20202375,Ratih,ratih@gmail.com,628336072,19,Kota Administrasi Jakarta Utara,Jakarta,0,1,81
67,RK20202411,Hidayat,hidayat@hotmail.com,628493696,17,Kota Administrasi Jakarta Selatan,Jakarta,0,1,100
92,RK20202436,Munaroh,munaroh@hotmail.com,628636716,15,Kota Administrasi Jakarta Barat,Jakarta,0,1,91

In [40]:
#data transformation
#misal ingin mengurangi suatu nilai dengan min pada kolom age
def minus_minimum(x):
    return x-x.min()

In [41]:
print(df_class.age)

0     57
1     24
2     16
3     59
4     42
      ..
95    54
96    56
97    51
98    23
99    29
Name: age, Length: 100, dtype: int64

In [43]:
df_class.age.min()

15

In [45]:
#transformasikan kolom age dengan fungsi minus_minimum
print(df_class[['age']].apply(minus_minimum))

    age
0    42
1     9
2     1
3    44
4    27
..  ...
95   39
96   41
97   36
98    8
99   14

[100 rows x 1 columns]