In [1]:
#inisialisasi suhu anggota keluarga

In [2]:
suhu1=21
suhu2=20
suhu3=22
#simpan dalam list
suhu_keluarga=[suhu1,suhu2,suhu3]

In [4]:
#membuat list
suhu_keluarga_dayat=['ayah dayat',19,'dayat',19,'ibu dayat',20]
suhu_keluarga_ucup=['istri ucup',20,'ucup',19,'anak ucup',22]
#membuat list dalam list dan dicampur dengan data boolean
suhu_keluarga1=[suhu_keluarga_dayat,suhu_keluarga_ucup,True]

In [8]:
#membuat data list
tinggi_badan=[162, # index 0
             177, # index 1
             182, # index 2
             150, # index 3
             166, # index 4
             ]
#subsetting list
print(tinggi_badan[0])

162

In [9]:
#posisi 2 terakhir
print(tinggi_badan[-2])

150

In [10]:
#slicing list
#mengambil data index 0,1,2,3
print(tinggi_badan[:4])

[162, 177, 182, 150]

In [12]:
#mengambil data dengan index 2,3,4
print(tinggi_badan[2:5])

[182, 150, 166]

In [13]:
#mengubah suhu dayat suhu_keluarga_dayat[3]=22
print(suhu_keluarga_dayat)

['ayah dayat', 19, 'dayat', 19, 'ibu dayat', 20]

In [14]:
suhu_keluarga_dayat[-2:]=['ibu dayat',22]
print(suhu_keluarga_dayat)

['ayah dayat', 19, 'dayat', 19, 'ibu dayat', 22]

In [15]:
suhu_keluarga_dayat=suhu_keluarga_dayat+['adik dayat',20]
print(suhu_keluarga_dayat)

['ayah dayat', 19, 'dayat', 19, 'ibu dayat', 22, 'adik dayat', 20]

In [17]:
#menggunakan .append() atau .insert()
#append akan menambahakn nilai pada index terakhir
#insert menambahkan nilai berdasarkan index yang diinginkan
murid=['Ayu','Bagus','Fajar','Cahyo','Ani']
murid.append('Rizki')
print(murid)
murid.insert(2,'Ahmad')
print(murid)

['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani', 'Rizki']
['Ayu', 'Bagus', 'Ahmad', 'Fajar', 'Cahyo', 'Ani', 'Rizki']

In [18]:
#menghapus element di list
del(suhu_keluarga_dayat[0])
print(suhu_keluarga_dayat[0])

19

In [20]:
#menggunakan remove dan pop utk menghapus element
siswa=['Ayu','Bagus','Fajar','Cahyo','Ani']
siswa.pop(2)
print(siswa)
siswa.pop()
print(siswa)
siswa=['Ayu','Bagus','Fajar','Cahyo','Ani']
siswa.remove('Cahyo')
print(siswa)

['Ayu', 'Bagus', 'Cahyo', 'Ani']
['Ayu', 'Bagus', 'Cahyo']
['Ayu', 'Bagus', 'Fajar', 'Ani']

In [21]:
keluarga_ucup=['mama','papa','ucup','adek ucup','kakak ucup']
print(len(keluarga_ucup))

5

In [22]:
#mengurutkan elemen list
print(sorted(keluarga_ucup))

['adek ucup', 'kakak ucup', 'mama', 'papa', 'ucup']

In [23]:
#sum untuk menjumlahkan
primes=[2,3,5,7]
print(sum(primes))

17

In [24]:
#.copy() digunakan untuk menyalin suatu list ke dalam list baru
#yang memiliki nilai yang sama tanpa mengubah nilai aslinya
a=[1,2,3,4,5]
b=a.copy()
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [25]:
#lakukan manipulasi terhadap list b
b.append(6)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [27]:
#list comperehension adalah cara elegan untuk membuat list berdasarkan list yang ada
number=[1,5,10,6,7,8,12]
result=[i for i in number if i>7]
print(number)
print(result)

[1, 5, 10, 6, 7, 8, 12]
[10, 8, 12]

In [29]:
#tuple=struktur data yang digunakan untuk menyimpan satu atau lebih
#dat di dalamnya. Perbedaannya=anggota tuple tidak dapat diubah sebagian
#akan tetapi dapat diubah keseluruhan dengan memanfaatkan melakukan
#inisisasi variabel dengan nilai yang baru
#inisiasi variabel tuple dilakukan dengan menggunakan tanda kurun()
tuple_01=(1,2,3,4)
#untuk menginisiasi tuple dengan satu anggota harus menggunakan tanda koma
#setelah anggota pertama
tuple_02=(1,)
print(tuple_01,tuple_02)

(1, 2, 3, 4) (1,)

In [30]:
#mengakses anggota tuple
#mengakses index positif
print(tuple_01[1])
#mengakses index negatif
print(tuple_01[-1])

2
4

In [31]:
#tuple tidak bisa mengubah atau menambah element
#namun tuple dapat dipotong dan diduplikasi seperti list
tuple_03=tuple_01[0:2]
tuple_04=tuple_01[:]
print(tuple_03)
print(tuple_04)

(1, 2)
(1, 2, 3, 4)

In [32]:
#Walau kita tidak dapat melakukan perubahan pada tuple,
#tapi kita bisa menginisiasikan anggota tuple ke dalam variabel-variabel.
#Hanya saja variabel yang diinisiasikan harus berjumlah sama dengan anggota tuple tersebut.
tuple_01=(1,2,3,4)
#akan dimasukkan ke dalam 4 variabel dikarenakan tuple memiliki 4 anggota
a,b,c,d=tuple_01
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

1 2 3 4
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [34]:
#set(himpunan)
#ada dua cara membuat sel
#pertama menggunakan {}
set_01={4,5,6,2}
print(set_01)
#menggunakan set()
set_02=set()
set_03=set([2,1,4,3])
print(type(set_02))
print(set_03)

{2, 4, 5, 6}
<class 'set'>
{1, 2, 3, 4}

In [35]:
#tidak dapat mengakses anggota set seperti list atau tuple karena tdak memiliki index\
#ada dua metode utk menghapus anggota set
#discard()
set_01={4,5,6,2}
set_01.discard(4)
print(set_01)
#remove()
set_01.remove(2)
print(set_01)

{2, 5, 6}
{5, 6}

In [37]:
#mengubah dan menambah anggota set
#add() digunakan untuk menambah satu anggota pada set
set_04={2,3,4,5,6}
set_04.add(1)
print(set_04)
#update() digunakan untuk menambahkan lebih dari satu anggota, bisa memasukkan list atau tuple sebagai bahan
set_04.update([4,7,8])
print(set_04)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
#operasi pada set
#ada 4 operasi(union,intersection,difference,symmetric difference)
Set_A={1,2,3,4}
Set_B={3,4,5,6}

In [40]:
#union=menggabungkan semua anggota set
#dengan menggunakan "|" atau .union()
print(Set_A|Set_B)
print(Set_A.union(Set_B))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [41]:
#intersection=irisan
#menggunakan "&" atau .intersection()
print(Set_A&Set_B)
print(Set_A.intersection(Set_B))

{3, 4}
{3, 4}

In [42]:
#Difference=perbedaan anggota dari 2 set atau lebih
#menggunakan "-" atau .difference()
#A-B
print(Set_A - Set_B)
print(Set_A.difference(Set_B))

{1, 2}
{1, 2}

In [43]:
#Symmetric Difference=semua anggota set A dan B selain irisan dari 2 set tsb
#menggunakan "^" atau .symmetric_difference()
print(Set_A^Set_B)
print(Set_A.symmetric_difference(Set_B))

{1, 2, 5, 6}
{1, 2, 5, 6}

In [44]:
#Dictionary=jenis tipe data di python yang memetakan antara key dan value suatu data
numbers={'one':1,'two':2,'three':3}
print(numbers['one'])

1

In [45]:
#mengubah nilai dalam dictionary
numbers['one']='satu'
print(numbers)

{'one': 'satu', 'two': 2, 'three': 3}

In [46]:
# Jika kita melakukan loop pada suatu dictionary, maka kita akan me-loop terhadap key pada dictionary tersebut: 
for k in numbers:
    print("{}={}".format(k,numbers[k]))

one=satu
two=2
three=3

In [47]:
#Jika kita ingin melakukan iterasi terhadap valuenya saja, maka kita bisa gunakan: 
for key in numbers.values():
    print("{}".format(key))

satu
2
3

In [48]:
#Object dictionary mempunyai suatu method yang bernama items(),
#dimana dengan fungsi ini kita dapat melakukan loop terhadap suatu dictionary
#beserta dengan key dan value nya:
for key, value in numbers.items():
    print("{}={}".format(key,value))

one=satu
two=2
three=3

In [49]:
#'in' digunakan untuk mengecek suatu key tertentu dalam dictionary yang menghasilkan nilai boolean true or false
'one' in numbers

True

In [50]:
#Untuk menambahkan item dalam dictionary, bisa menggunakan syntaks seperti berikut:
numbers={'one':1,'two':2,'three':3}
numbers['four']=10
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'four': 10}

In [51]:
numbers1={'two':5}
numbers.update(numbers1)
print(numbers)

{'one': 1, 'two': 5, 'three': 3, 'four': 10}

In [58]:
#menghapus anggota pada set
#using .pop()
numbers={'four':10,'one':1,'three':3,'two':5}
numbers.pop('one')
print(numbers)
#using .clear()
numbers.clear()
print(numbers)
#using delete()
numbers={'four':10,'three':3,'two':5}
del numbers['four']
print(numbers)

{'four': 10, 'three': 3, 'two': 5}
{}
{'three': 3, 'two': 5}

In [59]:
del numbers
print(numbers)

NameError: name 'numbers' is not defined