<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [12]:
print('john'!='john')

A=True
B=False
print(A==B)

8<=10

False
False

True



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [13]:
a=True
b=True
c=a and b
print(a,'and',b,'=',c)
a=True
b=False
c=a and b
print(a,'and',b,'=',c)
a=False
b=True
c=a and b
print(a,'and',b,'=',c)
a=False
b=False
c=a and b
print(a,'and',b,'=',c)

a=True
b=True
c=a or b
print(a,'or',b,'=',c)
a=True
b=False
c=a or b
print(a,'or',b,'=',c)
a=False
b=True
c=a or b
print(a,'or',b,'=',c)
a=False
b=False
c=a or b
print(a,'or',b,'=',c)
a=True
c=not a
print('data a=',a)
print('data c=',c)

True and True = True
True and False = False
False and True = False
False and False = False
True or True = True
True or False = True
False or True = True
False or False = False
data a= True
data c= False



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [14]:
#code here
Grade=str(input())
Price=int(input())

if Grade=='A' and Price>100000:
    print('High')
elif Grade=='A' and Price>50000:
    print('Medium')
elif Grade=='A' and Price<=50000:
    print('Low')
else:
    print('Unidentified')

A
55000
Medium



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [15]:
# Buat fungsi
Nilai=int(input())
if Nilai%2==1:
    print('Aneh')
elif Nilai%2==0 and 2<=Nilai<=5:
    print('Tidak Aneh')
elif Nilai%2==0 and 6<=Nilai<=20:
    print('Aneh')
elif Nilai%2==0 and Nilai>20:
    print('Tidak Aneh')
else:
    print('Salah Input')

125
Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

jawaban perbedaan
while loop akan melakukan perulangan terus menerus selama kondisi perulangan terpenuhi

for loop akan melakukan perulangan sebanyak n kali

In [16]:
# jawaban contoh
i=1
while i<20:
    print(i, end=' ')
    i *=2

for k in range(5):
    print("Bilangan kelipatan dua=", k*2)

1 2 4 8 16 Bilangan kelipatan dua= 0
Bilangan kelipatan dua= 2
Bilangan kelipatan dua= 4
Bilangan kelipatan dua= 6
Bilangan kelipatan dua= 8



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [17]:
a = 10

def fungsi_while(angka):
    while angka:
        if angka >0:
            print(angka)
            angka -=1
        elif angka <0:
            print(angka)
            angka+=1
      
               
fungsi_while(a)

10
9
8
7
6
5
4
3
2
1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [18]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

In [19]:
#code here
list_nilai=[]
for i in data_siswa:
    if i['nilai']>=80:
        list_nilai.append(i['nama'])
print(list_nilai)

['Budi', 'Rudi', 'Leo']

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [24]:

# lengkapi code di bawah
obj_list= [1, 16, 11, 10, 5]
for index,nilai in enumerate(obj_list):
    print(nilai*index)

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---