<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [24]:
print('Hello World Python')

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [25]:
2+3

5

In [26]:
5-3

2

In [27]:
9*12

108

In [28]:
14/7

2.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [29]:
a=22.4
b=7.3
print('a:',a)
print('b:',b)

a: 22.4
b: 7.3

In [30]:
c=int(a/b)
print(c)

3

In [31]:
d=float(a/b)
print(d)

3.0684931506849313

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lastname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science dasar.'

In [32]:
firstname='Abdurrahman'
lastname='Siddiq'
print('Hello sanbercode, saya '+firstname+" "+lastname+'! saya siap belajar python data science dasar.')

Hello sanbercode, saya Abdurrahman Siddiq! saya siap belajar python data science dasar.

Expected Output :

Hello sanbercode, saya Afrida Hafizhatul Ulum! saya siap belajar python data science dasar.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [33]:
usia = 24
kata = 'usiaku: '
print(kata + str(24)+' tahun')

usiaku: 24 tahun

Expected Output : (sesuai usia masing-masing)

usiaku: 28 tahun